@use '@/styles/var.scss' as *;

.app-header-nav {
  width: 820px;
  display: flex;
  padding-left: 40px;
  position: relative;
  z-index: 998;
  margin: 0;
  list-style: none;

  li {
    margin-right: 40px;
    width: 38px;
    text-align: center;

    a {
      font-size: 16px;
      line-height: 32px;
      height: 32px;
      display: inline-block;
      color: #333;
      text-decoration: none;

      &:hover {
        color: $xtxColor;
        border-bottom: 1px solid $xtxColor;
      }

      &.active {
        color: $xtxColor;
        border-bottom: 1px solid $xtxColor;
      }
    }
  }
}
