@use '@/styles/var.scss' as *;

.goods-hot {
  h3 {
    height: 70px;
    background: $helpColor;
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    padding-left: 25px;
    margin-bottom: 10px;
    font-weight: normal;
    margin-top: 0;
  }

  .goods-item {
    display: block;
    padding: 20px 30px;
    text-align: center;
    background: #fff;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;

    img {
      width: 160px;
      height: 160px;
    }

    p {
      padding-top: 10px;
      margin: 0;
    }

    .name {
      font-size: 16px;
    }

    .desc {
      color: #999;
      height: 29px;
    }

    .price {
      color: $priceColor;
      font-size: 20px;
    }
  }
}
